div#pothole_info {
  display: none;
}

.custom_infowindow {
  display: none;
  position: absolute;
  cursor: default;
}

div.pothole_info.show {
  border: 0 none;
  background-color: transparent;
  position: relative;
}

div.pothole_info.show.horz{
  background: transparent url('/images/infowindow_horz.png') no-repeat scroll center center;
  width: 263px;
  height: 216px;
}

div.pothole_info.show.vert{
  background: transparent url('/images/infowindow_vert.png') no-repeat scroll center center;
  width: 201px;
  height: 280px;
}


div.pothole_info.show div.corner {
  background-color: transparent;
  bottom: -21px;
  height: 21px;
  left: 0;
  position: absolute;
  width: 0;
}

div.pothole_info.show.horz img {
  width:241px;
  height:178px;
  margin:9px;
  padding:0;
  vertical-align:middle;
}

div.pothole_info.show.vert img {
  width:178px;
  height:241px;
  margin:9px;
  padding:0;
  vertical-align:middle;
}

div.pothole_info.show div.text {
  background-color:white;
  left:9px;
  top:9px;
  opacity:0.9;
  position:absolute;
  display: none;
}

div.pothole_info.show.horz div.text {
  width:241px;
  height:178px;
}

div.pothole_info.show.vert div.text {
  width:178px;
  height:241px;
}
div.pothole_info.show div.text div.close a{
  background: transparent url(/images/close_icon.png) no-repeat scroll center center;
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 9px;
  top: 9px;
}

div.pothole_info.show div.text p.street{
  font-size: 17px;
  font-weight: bold;
  margin: 5px;
}
div.pothole_info.show div.text p.city{
  font-size: 13px;
  margin: 5px;
}
div.pothole_info.show div.text div.reported_times{
  font-family: Georgia;
  border-top:1px solid black;
  bottom:6px;
  color:#666666;
  height:40px;
  position:absolute;
  padding: 5px;
}

div.pothole_info.show.horz div.text div.reported_times{
  width: 230px;
}

div.pothole_info.show div.text p.times{
  display: none;
}

div.pothole_info.new_report {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid white;
  background-color: #93CD3B;
  color: white;
  font-family: Lucida Grande;
  font-size: 15px;
  padding: 10px;
  position: relative;
}

div.pothole_info.new_report div.corner {
  background: url("/images/balloon_point_green.png") no-repeat scroll 0 0 transparent;
  bottom: -16px;
  height: 16px;
  left: 15px;
  position: absolute;
  width: 18px;
}

div.pothole_info.new_report img {
  border: 3px solid white;
  margin-right: 10px;
  vertical-align: bottom;
  width: 100px;
}

div.pothole_info.new_report div.text {
  display: inline-block;
}

div.pothole_info.new_report div.text span {
  font-size: 18px;
}

div.pothole_info.new_report div.text p {
  display: block;
  padding: 5px 0;
  width: 200px;
}
