.custom_infowindow{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid white;
  background-color: #93CD3B;
  display: none;
  position: absolute;
}

div#pothole_info {
  display: none;
}
div.pothole_info {
color:white;
font-family:Lucida Grande;
font-size: 15px;
padding:10px;
position:relative;
}

div.pothole_info div.corner{
  background:url("/images/infowindow_corner.png") no-repeat scroll 0 0 transparent;
  bottom:-16px;
  height:16px;
  left:15px;
  position:absolute;
  width:18px;
}

div.pothole_info img{
  border:3px solid white;
  margin-right:10px;
  vertical-align:bottom;
  width:100px;
}

div.pothole_info div.text{
  display: inline-block;
}

div.pothole_info div.text span {
font-size:18px;
}

div.pothole_info div.text p {
display:block;
padding:5px 0;
width:200px;
}