<div class="outer_layout sub">
	<div class="subheader">
		<div class="subheader_left">
		
			<h1><strong>Sobre otrobache.com</strong></h1>
			
		</div>
		<div class="subheader_right"></div>
	</div>
</div>

<div class="outer_layout map">
	<div class="main_map">
		<div class="main_map_left">

			<p><a href="http://www.elpais.com/articulo/madrid/capital/bache/elpepiespmad/20100227elpmad_1/Tes">Un artículo</a> de El País nos impulsón a hacer esto. En Madrid se realizan <strong>más de 90 denuncias al día</strong>, sobre los socavones de la capital. Por desgracia estos datos no son públicos, y por eso queremos saber dónde y cuántos hay realmente.</p>
			<hr />
			<p>
				<strong>¿Cómo nace otrobache.com?</strong><br />
				Con tantos baches por las ciudades...		
			</p>
			<p>
				<strong>¿Qué se considera un bache?</strong><br />
				Para nosotros, un bache es cualquier...		
			</p>
		</div>
		<div class="main_map_right">
		
		</div>
	</div>
</div>