<div data-role="content" data-theme="a">
  <p>SOBRE OTROBACHE.COM</p>
  <div class="mobile_p">
  <p><font color="#FFCC00" size="3">¿Qué es otrobache.com?</font></p></div>
  
  <div class="mobile_p">
    <p><a href="http://www.elpais.com/articulo/madrid/capital/bache/elpepiespmad/20100227elpmad_1/Tes" rel="external">Un artículo de El País</a>
  nos impulsó a hacer esto. En madrid se realizan más de 90 denuncias al día, sobre los socavones de la capital. Por desgracia estos datos no son 
  públicos y, por eso, queremos saber dónde y cuántos realmente hay</p></div>
  
  <p><font color="#FFCC00" size="3">¿Puedo ver un mapa de baches?</font></p>
  <p>Sí, en <a class="ui-link" href="/">www.otrobache.com</a> hay disponible un mapa interactivo para analizar y visualizar toda la información que la gente nos reporta.</p>

  <a class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-e" href="/potholes" data-role="button" data-theme="e">
    <span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Volver Atrás</span>
</div>
